.contenedor-form {
  padding: 3rem 0 1px 0;
  background-color: #03a9f4;
}

.input-field label {
  color: white;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: white;
} 

.input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 #000;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid white;
  color: white;
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 1px 0 0 white;
  box-shadow: 0 1px 0 0 white;
}
input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: white;
}

.buscador i {
  width: 100%;
}
